pre[class*="language-"],
code[class*="language-"] {
    color: #d4d4d4;
    font-size: 13px !important;
    text-shadow: none;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.6;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    hyphens: none;
    width: 100%;
    border-radius: 12px !important;
}

pre[class*="language-"] {
    padding: 1.25em;
    margin: 1em 0;
    overflow: auto;
    background: #0d0d0d;
    border: 1px solid #262626;
}

pre[class*="language-"]::-webkit-scrollbar {
    height: 5px;
}

pre[class*="language-"]::-webkit-scrollbar-track {
    background: transparent;
}

pre[class*="language-"]::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 10px;
}

pre[class*="language-"]::-webkit-scrollbar-thumb:hover {
    background: #444444;
}

.dark pre[class*="language-"]::-webkit-scrollbar-thumb {
    background: #374151;
}

.token.comment,
.token.prolog {
    color: #6a9955;
}

.token.punctuation {
    color: #d4d4d4;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
    color: #b5cea8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
    color: #ce9178;
}

.token.keyword {
    color: #569CD6;
}

.token.function {
    color: #dcdcaa;
}

.token.class-name {
    color: #4ec9b0;
}

.token.regex {
    color: #d16969;
}

.token.attr-value {
    color: #ce9178;
}

.token.operator {
    color: #d4d4d4;
}